In [1]:
import ETL as etl
%matplotlib inline

In [2]:
from datetime import datetime
import pandas as pd

In [3]:
# Carregando dados
investimentos = etl.getPlanilhaInvestimentos()
fi = investimentos[0]
aportes = investimentos[1]
acoes = investimentos[2]
rendaFixa = investimentos[3]
fii = investimentos[4]

In [ ]:
## ANALISE EXPLORATORIA

In [6]:
pd.DataFrame(fi).fillna(0).head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DATA</th>
      <th>FUNDO</th>
      <th>Valor Mês Anterior</th>
      <th>Aporte no mês</th>
      <th>Valor Mês</th>
      <th>IR</th>
      <th>Valor Valorização</th>
      <th>% de Valorização</th>
      <th>Retiradas</th>
      <th>Valor Atual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2013-04-01</td>
      <td>XP ABSOLUTO CONSUMO</td>
      <td>0.0</td>
      <td>1700</td>
      <td>1700.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1700.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2013-05-01</td>
      <td>XP ABSOLUTO CONSUMO</td>
      <td>1700.0</td>
      <td>700</td>
      <td>2400.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>2400.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2013-06-01</td>
      <td>Azul Quantitavio FIM</td>
      <td>0.0</td>
      <td>5000</td>
      <td>5000.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>5000.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2013-06-01</td>
      <td>Vot.FicFi CambialDol</td>
      <td>0.0</td>
      <td>5000</td>
      <td>5000.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>5000.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2013-08-01</td>
      <td>Azul Quantitavio FIM</td>
      <td>5000.0</td>
      <td>10200</td>
      <td>15200.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>15200.0</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
# dataset de fundo de investimento
fi.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DATA</th>
      <th>FUNDO</th>
      <th>Valor Mês Anterior</th>
      <th>Aporte no mês</th>
      <th>Valor Mês</th>
      <th>IR</th>
      <th>Valor Valorização</th>
      <th>% de Valorização</th>
      <th>Retiradas</th>
      <th>Valor Atual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2013-04-01</td>
      <td>XP ABSOLUTO CONSUMO</td>
      <td>0.0</td>
      <td>1700</td>
      <td>1700.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1700.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2013-05-01</td>
      <td>XP ABSOLUTO CONSUMO</td>
      <td>1700.0</td>
      <td>700</td>
      <td>2400.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>2400.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2013-06-01</td>
      <td>Azul Quantitavio FIM</td>
      <td>0.0</td>
      <td>5000</td>
      <td>5000.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>5000.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2013-06-01</td>
      <td>Vot.FicFi CambialDol</td>
      <td>0.0</td>
      <td>5000</td>
      <td>5000.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>5000.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2013-08-01</td>
      <td>Azul Quantitavio FIM</td>
      <td>5000.0</td>
      <td>10200</td>
      <td>15200.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>15200.0</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
# Verificarndo se os tipos de dados estão corretos de cada atributo/coluna
fi.dtypes

DATA                  datetime64[ns]
FUNDO                         object
Valor Mês Anterior           float64
Aporte no mês                  int64
Valor Mês                    float64
IR                           float64
Valor Valorização            float64
% de Valorização             float64
Retiradas                    float64
Valor Atual                  float64
dtype: object

In [6]:
# Total Investido.
sum(aportes['Valor'])

65600

In [8]:
# Total Atual em FI
dtUltimoRegistro = max(fi['DATA'])
totalAtualFI = sum(fi[fi['DATA'] == dtUltimoRegistro]['Valor Atual'])
totalAtualFI

76200.660000000003

In [10]:
# Total Atual em Ações
acoesNaCarteira = acoes[pd.isnull(acoes['Data Venda'])]
totalAtualAcoes = sum(acoesNaCarteira['TotalVendido'])
totalAtualAcoes

15102.0

In [11]:
# Total Atual em Renda Fixa
dtUltimoRegistro = max(rendaFixa['DATA'])
totalAtualRendaFixa = sum(rendaFixa[rendaFixa['DATA'] == dtUltimoRegistro]['Valor Atual'])
totalAtualRendaFixa

15412.780000000001

In [14]:
FIINaCarteira = fii[pd.isnull(fii['Data Venda'])]
totalAtualFII = sum(FIINaCarteira['Total Venda/Atual'])
totalAtualFII

7278.3999999999996

In [15]:
totalAtualAcoes + totalAtualFI + totalAtualRendaFixa + totalAtualFII

113993.84

In [19]:
nomeFundos = fi['FUNDO'].unique()
nomeFundos = pd.DataFrame(nomeFundos)
nomeFundos['Corretora'] = 'XP Investimentos'

In [4]:
etl.limpaFI(fi)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Nome FI</th>
      <th>Corretora</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>XP ABSOLUTO CONSUMO</td>
      <td>XP Investimentos</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Azul Quantitavio FIM</td>
      <td>XP Investimentos</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Vot.FicFi CambialDol</td>
      <td>XP Investimentos</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NP Hedge Fic Fim</td>
      <td>XP Investimentos</td>
    </tr>
    <tr>
      <th>4</th>
      <td>BNP Inflação Firf</td>
      <td>XP Investimentos</td>
    </tr>
    <tr>
      <th>5</th>
      <td>XP GlobCred FICFIM</td>
      <td>XP Investimentos</td>
    </tr>
    <tr>
      <th>6</th>
      <td>XP Long Short FIC FIM</td>
      <td>XP Investimentos</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Mirae Asset Multimercado Macro Strategy FI</td>
      <td>XP Investimentos</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Maua Macro FIC FIM</td>
      <td>XP Investimentos</td>
    </tr>
    <tr>
      <th>9</th>
      <td>AZ Quest Multi FIC FIM</td>
      <td>XP Investimentos</td>
    </tr>
  </tbody>
</table>
</div>

In [1]:
import pymysql

In [5]:
conn = pymysql.connect(host='localhost', user='root', passwd='@gabriel', db='sys')

In [6]:
cur = conn.cursor()

In [8]:
cur.execute("CREATE SCHEMA `independenciafinanceira`;")

1